* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  font-family: system-ui, Verdana, Geneva, Tahoma, sans-serif;
}

body{
  background: var(--main-background);
}

h1 {
  font-weight: 100;
}

.inherit-grid{
  display: contents;
}

.overlay {
  position: fixed;
  top: 0px;
  height: 100vh;
  width: 100vw;
  overflow: auto;
}

.overlay:not(.hidden) ~ * {
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}

.overlay.hidden {
  opacity: 0;
  animation: overlay-fade-out .2s ease-out;
}

@keyframes overlay-fade-out {
  0% {
    display: block;
    opacity: 1;
  }
  100% {
    display: none;
    opacity: 0;
  }
}